# Include core metadata
include LICENSE
include README.md
include pyproject.toml

# Include all Python source files
recursive-include src *.py

# Exclude unnecessary files
exclude *.pyc
exclude __pycache__